# Cloudinary Multi-Account 100GB Storage Pool Template
# Account 1
VITE_CLOUDINARY_API_KEY_1=868519645875111
VITE_CLOUDINARY_CLOUD_NAME_1=ihgvreyf
VITE_CLOUDINARY_UPLOAD_PRESET_1=I HATE ONE

# Account 2
VITE_CLOUDINARY_API_KEY_2=485965313832643
VITE_CLOUDINARY_CLOUD_NAME_2=ec0defro
VITE_CLOUDINARY_UPLOAD_PRESET_2=I HATE TWO

# Account 3
VITE_CLOUDINARY_API_KEY_3=229438837769445
VITE_CLOUDINARY_CLOUD_NAME_3=ey2rfbg2
VITE_CLOUDINARY_UPLOAD_PRESET_3=I HATE THREE

# Account 4
VITE_CLOUDINARY_API_KEY_4=372583548786573
VITE_CLOUDINARY_CLOUD_NAME_4=zsrxfbgr
VITE_CLOUDINARY_UPLOAD_PRESET_4=I HATE FOUR
