# Cloudinary Configuration Template
VITE_CLOUDINARY_API_KEY_1=868519645875111
VITE_CLOUDINARY_CLOUD_NAME_1=
VITE_CLOUDINARY_UPLOAD_PRESET_1=

# Account 2
VITE_CLOUDINARY_API_KEY_2=485965313832643
VITE_CLOUDINARY_CLOUD_NAME_2=
VITE_CLOUDINARY_UPLOAD_PRESET_2=

# Account 3
VITE_CLOUDINARY_API_KEY_3=229438837769445
VITE_CLOUDINARY_CLOUD_NAME_3=
VITE_CLOUDINARY_UPLOAD_PRESET_3=

# Account 4
VITE_CLOUDINARY_API_KEY_4=372583548786573
VITE_CLOUDINARY_CLOUD_NAME_4=
VITE_CLOUDINARY_UPLOAD_PRESET_4=
